<div class="contener">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4">About</h1>
      <p class="mb-0">ながのCAFEは全国発送可能なケーキ屋さんです。</p>
      <p class="mb-0">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p class="mb-0">様々なバリエーションをご用意しております。</p>
      <p class="mb-0">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p class="mb-0">ぜひご注文ください。</p>
    </div>
  </div>
</div>